.bikes{
    color: var(--green);
}
.home{
    color: var(--white);    
}
.container{
    height: 130vh;
    width: 80vw;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 10vw;
    background-color: var(--background-black);
}

.bike1{
    position: relative;
    top: 20vh;
    margin-bottom: 10vh;
    height: 12vw;
    background-image: url('../public/city-img-centraal.png');
    background-size: 100%;
    filter: brightness(1);
    border-radius: 15px;
    transition-duration: 0.2s;
    filter: contrast(1.2);
    overflow: hidden;
}
.bike2{
    position: relative;
    top: 18vh;
    margin-bottom: 10vh;
    height: 12vw;
    background-image: url('../public/city-img-brug.png');
    background-size: 100%;
    filter: brightness(1);
    border-radius: 15px;
    transition-duration: 0.2s;
    filter: contrast(1.2);
    overflow: hidden;
}
.bike3{
    position: relative;
    top: 18vh;
    margin-bottom: 10vh;
    height: 12vw;
    background-image: url('../public/city-img-mair.png');
    background-size: 100%;
    filter: brightness(1);
    border-radius: 15px;
    transition-duration: 0.2s;
    filter: contrast(1.2);
    overflow: hidden;
}

.bike1:hover{
    position: relative;
    top: 18.8vh;
    background-color: var(--nav-gray);
    box-shadow: 0 5px 20px 0 #383838, 0 6px 20px 0 rgba(0, 0, 0, 0.434);
    transition-duration: 0.2s;
    filter: contrast(1);
}
.bike2:hover{
    position: relative;
    top: 17.2vh;
    background-color: var(--nav-gray);
    box-shadow: 0 5px 20px 0 #383838, 0 6px 20px 0 rgba(0, 0, 0, 0.434);
    transition-duration: 0.2s;
    filter: contrast(1);
}
.bike3:hover{
    position: relative;
    top: 16.8vh;
    background-color: var(--nav-gray);
    box-shadow: 0 5px 20px 0 #383838, 0 6px 20px 0 rgba(0, 0, 0, 0.434);
    transition-duration: 0.2s;
    filter: contrast(1);
}

.pin-icon{
    height: 1.5vw;
    margin-right: 2vw;
}
.bike__title{
    position: relative;
    left: 2vw;
    top: 1vw;
    color: var(--white);
    font-size: 2.5vw;
    font-weight: 700;
    letter-spacing: 0.1vw;
}
.km1{
    color: var(--green);
    font-weight: 700;
    font-size: 2vw;
}

@media screen and (max-width: 770px) {
    .bike1{
        height: 30vw;
        top: 15vh;
        margin-bottom: 5vh;
        background-size: cover;
    }
    .bike2{
        height: 30vw;
        top: 15vh;
        margin-bottom: 5vh;
        background-size: cover;
    }
    .bike3{
        height: 30vw;
        top: 15vh;
        margin-bottom: 5vh;
        background-size: cover;
    }
    .pin-icon{
        height: 5vw;
        margin-right: 2vw;
    }
    .bike__title{
        position: relative;
        left: 2vw;
        top: 1vw;
        color: var(--white);
        font-size: 5vw;
        font-weight: 700;
        letter-spacing: 0.1vw;
    }
    .km1{
        color: var(--green);
        font-weight: 700;
        font-size: 5vw;
    }
}

.footer{
    display: flex;
    position: relative;
    bottom: 0px;
    margin-top: 25vh;
    margin-left: -10vw;
    height: 55vh;
    width: 100vw;
    background-color: var(--nav-gray);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.footer__container{
    position: relative;
    left: 10vw;
}
.footer__titel{
    position: relative;
    top: 3vh;
    color: var(--white);
    font-weight: 700;
    font-size: 2.5vw;
}
.footer__tussen-titel{
    position: relative;
    top: 3vh;
    color: var(--green);
    font-weight: 600;
    font-size: 1.5vw;
}
.footer__voordelen{
    position: relative;
    top: 6vh;
    color: var(--white);
    font-weight: 400;
    font-size: 1.2vw;
}
.footer__store-imgs{
    position: relative;
    top: 12vh;
    display: flex;
    flex-direction: row;
    gap: 1.5vw;
    height: 6vh;
}
.playstore{
    border-radius: 10px;
}
.appstore{
    border-radius: 10px;
}

.mockups{
    display: flex;
    flex-direction: row;
    gap: 2vw;
    position: relative;
    top: 5vh;
    left: 25vw;
}
.mockup-1{
    height: 18vw;
    position: relative;
    top: 2vw;
}
.mockup-2{
    height: 20vw;
}

@media screen and (max-width: 770px) {
    .footer{
        display: block;
        height: 33vh;
        margin-top: 20vh;
    }
    .footer__titel{
        font-size: 5vw;
    }
    .footer__tussen-titel{
        font-size: 4vw;
    }
    .footer__voordelen{
        font-size: 3vw;
    }
    .footer__store-imgs{
        top: 10vh;
        height: 4vh;
    }
    .mockups{
        display: none;
    }
}
